.bar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 36px;
  background: #333;
  -webkit-app-region: drag;
  padding: 0px 7px;
}
.bar > div {
  display: flex;
  align-items: center;
}
.bar > img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 22px;
    -webkit-app-region: no-drag;
    /* From https://css.glass */
    border: none;
    cursor: pointer;
}
.bar > button > img {
  height: 20px;
}

.bar > div > button:hover {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
}

.bar > div > button img {
  height: 14px;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  -webkit-app-region: no-drag;
  color: white;
  font-size: 25px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.1px);
  -webkit-backdrop-filter: blur(0.1px);
  border: none;
}
